/* Global styles */
* {
    -fx-generic-background-color: #F7F9FF;
    -fx-surface-container-lowest: #FFFFFF;
    -fx-surface-container-low: #F1F4F9;
    -fx-surface-container: #EBEEF3;
    -fx-on-surface-variant: #DDE3EA;
    -fx-outline-color: #72787E;
    -fx-outline-color-variant: #C1C7CE;
}

.chart-container{
    -fx-background-color: -fx-surface-container-low;
    -fx-border-radius: 48px;
    -fx-border-style: none;
    -fx-width: 100%;
    -fx-background-radius: 48px;
    -fx-padding: 12px;
    -fx-spacing: 12px;
    -fx-box-border: transparent;
}

.without-radius{
    -fx-background-radius: 0;
}

.chart-plot-background {
    -fx-background-color: -fx-generic-background-color;
}

.chart-horizontal-grid-lines {
    -fx-stroke: -fx-outline-color;
}

.default-color0.chart-series-line { -fx-stroke: #e9967a; }
.default-color1.chart-series-line { -fx-stroke: #f0e68c; }
.default-color2.chart-series-line { -fx-stroke: #dda0dd; }

.table-view {
    -fx-background-color: -fx-surface-container-lowest;
    -fx-border-radius: 24px;
    -fx-border-style: none;
    -fx-width: 100%;
    -fx-background-radius: 24px;
    -fx-padding: 12px;
    -fx-spacing: 12px;
    -fx-box-border: transparent;
}

.table-view .column-header-background {
    -fx-background-color: -fx-surface-container-lowest;
}

.table-view .column-header-background .column-header {
    -fx-background-color: -fx-surface-container-lowest;
}

.table-view .column-header-background .column-header .label {
    -fx-text-fill: -fx-outline-color;
}

.search-button {
    -fx-background-color: -fx-primary-fixed;
    -fx-font-size: 16;
    -fx-font-weight: 700;
    -fx-text-fill: -fx-primary-color;
    -fx-margin: 0 0 0 5px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-cursor: hand;
}

.search-button:hover {
    -fx-background-color: -fx-primary-fixed-dim;
}

.search-bar{
    -fx-background-color: #ffffff;
    -fx-background-radius: 36;
    -fx-border-width: 0;
    -fx-border-color: #000;
    -fx-border-radius: 36;
    -fx-width: 80%;
    /*-fx-max-width: 600px;*/
}

.search-bar-wrapper{
    /*-fx-max-width: 600px;*/
}