.datacard {
    -fx-background-color: #fff;
    -fx-border-radius: 20px;
    -fx-border-style: none;
    /*-fx-min-width: 600px;*/
    -fx-max-width: 600px;
    -fx-background-radius: 20px;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-box-border: transparent;
}
.datacard .content{
    -fx-border-radius: 0px 0px 10px 10px;
    -fx-border-style: none;
    -fx-background-radius: 0px 0px 10px 10px;
}

.datacard .title {
    -fx-text-fill: black;
    -fx-padding: 0;
    -fx-margin: 0;
    -fx-font-weight: bold;
}

.hyperlink .label{
    -fx-text-fill: black;
}

.datacard .datacard__layout{
    -fx-border-color: #fff;
    -fx-spacing: 10px;
}