/* Global styles */
* {
    -fx-generic-background-color: #F7F9FF;
    -fx-surface-container-lowest: #FFFFFF;
    -fx-surface-container-low: #F1F4F9;
    -fx-surface-container: #EBEEF3;
    -fx-surface-variant: #DDE3EA;
    -fx-outline-color: #72787E;
    -fx-outline-color-variant: #C1C7CE;
    -fx-surface-dim: #D7DADF;

    -fx-primary-color: #29638A;
    -fx-inverse-primary: #97CCF8;
    -fx-primary-fixed: #CBE6FF;
    -fx-primary-fixed-dim: #97CCF8;
    -fx-secondary-color: #6B5E10;
    -fx-tertiary-color: #A3A3A3;
    -fx-text-norm: #000000;
}

/* Main container */
.background-container{
    -fx-background-color: -fx-surface-container;
    -fx-background-radius: 24px;
}
.generic-container {
    -fx-background-color: -fx-generic-background-color;
    /*-fx-background-color: blue;*/
    /*-fx-background-color: white;*/
    -fx-background-radius: 24px;
}

.generic-transparent-container{
    -fx-background-color: -fx-generic-background-color;
    -fx-background-radius: 24px;
    /*-fx-background-color: blue;*/
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: -fx-generic-background-color;
}

.scroll-bar {
    -fx-background-color: -fx-surface-variant;
    -fx-background-radius: 10px;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: -fx-surface-variant;
    -fx-background-radius: 8px;
    -fx-padding: 5px 2px;
}

.scroll-bar .increment-button:hover,
.scroll-bar .decrement-button:hover {
    -fx-background-color: -fx-outline-color-variant;
}

.scroll-bar .thumb {
    -fx-background-color: -fx-outline-color-variant;
    -fx-background-radius: 10px;
    -fx-padding: 0;
}

.scroll-bar .thumb:hover {
    -fx-background-color: -fx-outline-color
}

.corner {
    -fx-background-color: none;
    -fx-padding: 0;
}

.tab-header-area{
    -fx-padding: 5px;
    /*visibility: hidden;*/
}
.tab{
    -fx-height: 0;
}

.tab-header-background{
    -fx-background-color: -fx-surface-container;
}

.tab{
    -fx-background-color: transparent;
    -fx-padding: .75em .75em;
    -fx-font-size: 1.5em;
    -fx-text-fill: -fx-text-norm;
    -fx-cursor: hand;
    -fx-background-radius: .75em;
    -fx-content-display: center;
    -fx-margin: .5em;
}

.tab-header-area > tab > .tab-label{
    -fx-text-alignment: center;
    -fx-content-display: center;
    -fx-wrap-text: false;
    -fx-label-padding: .75em;
}

.header-region{
    -fx-alignment: CENTER;
    -fx-content-display: CENTER;
}

.tab:hover{
    -fx-background-color: -fx-outline-color-variant;
}

.tab:selected{
    -fx-background-color: -fx-primary-fixed;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-content-display: center;
}

.tab:selected .tab-label{
    -fx-text-fill: -fx-primary-color;
    -fx-background-radius: 5px;
}
/* News categories */

.toggle-button{
    -fx-background-color: transparent;
    -fx-border-color: -fx-outline-color;
    -fx-border-width: 1px;
    -fx-padding: .5em 1em;
    -fx-font-size: 1em;
    -fx-cursor: hand;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}

.toggle-button:hover{
    -fx-background-color: -fx-outline-color-variant;
}

.toggle-button:selected{
    -fx-background-color: -fx-primary-fixed;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-primary-color;
    -fx-border-color: -fx-primary-color;
}

.category {
    -fx-background-color: #fff;
    -fx-border-radius: 24px;
    -fx-border-style: none;
    /*-fx-min-width: 600px;*/
    /*-fx-max-width: 600px;*/
    -fx-background-radius: 24px;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-box-border: transparent;
}
.category .content{
    -fx-background-color: #fff;
    -fx-border-radius: 0px 0px 10px 10px;
    -fx-border-style: none;
    -fx-background-radius: 0px 0px 10px 10px;
}

.category .title {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-background-color: #fff;
    -fx-border-radius: 20px 20px 0px 0px;
}

.category .category__layout{
    -fx-border-color: #fff;
    -fx-spacing: 10px;
}

.article-title{
    -fx-text-fill: black;
    -fx-padding: 0;
    -fx-margin: 0;
}

.news-item{
    -fx-padding: 10px;
    -fx-border-radius: 24px;
    -fx-background-radius: 24px;
    -fx-max-width: 600px;
    -fx-border-style: none;
    -fx-background-color: #ffffff;
    -fx-spacing: 16px;
    -fx-text-overrun: ellipsis;
}

.news-item .title{
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.news-item .description{
    -fx-font-size: 1em;
    -fx-font-weight: normal;
    -fx-wrap-text: true;
}

.news-item .thumbnail{
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-style: none;
    -fx-padding: 10;
}

.news-item:hover{
    -fx-background-color: #f0f0f0;
}

/*-------------------*/

/* News viewer */
#articleViewer{
    -fx-background-color: none;
}

#articleWebView{
    -fx-background-color: black;
    -fx-background-radius: 30px;
}

.web-view-button{
    -fx-background-color: transparent;
    -fx-font-size: 16;
    -fx-font-weight: 700;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-cursor: hand;
}

.web-view-button:hover{
    -fx-background-color: -fx-primary-fixed;
}

.web-view-controller{
    -fx-border-color: -fx-surface-variant;
    -fx-border-width: 0 0 1px 0;
}

/*-------------*/

/* Tooltips*/

.tooltip{
    -fx-background-color: -fx-surface-container;
    -fx-background-radius: 10px;
    -fx-padding: .5em 1em;
    -fx-font-size: 1em;
    -fx-text-fill: -fx-text-norm;
}

/* Dialogs */
.dialog-pane .label {
    -fx-text-fill: white;
}