/* Search section */
.search-button {
    -fx-background-color: -fx-primary-fixed;
    -fx-font-size: 16;
    -fx-font-weight: 700;
    -fx-text-fill: -fx-primary-color;
    -fx-margin: 0 0 0 5px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-cursor: hand;
}

.search-button:hover {
    -fx-background-color: -fx-primary-fixed-dim;
}

.search-bar{
    -fx-background-color: #ffffff;
    -fx-background-radius: 30;
    -fx-border-width: 0;
    -fx-border-color: #000;
    -fx-border-radius: 30;
    -fx-width: 80%;
    /*-fx-max-width: 600px;*/
}

.search-bar-wrapper{
    /*-fx-max-width: 600px;*/
}

.combo-box{
    -fx-background-color: transparent;
    -fx-border-color: -fx-outline-color;
    -fx-border-width: 1px;
    -fx-padding: .5em 1em;
    -fx-font-size: 1em;
    -fx-cursor: hand;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}

.toggle-button{
    -fx-padding: .75em 1em;
}


